In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv", index_col = 0)
train.head()

,click,adset_id,campaign_id,device_model,device_os,device_country
1b1Yz4S9wG,0,GdBSlETcLy,taRA9jVfVL,AsY5LC0NLu,TG14pLUXCY,PCCn9Q1m20
eCYeFjnExb,0,GlheP2trvZ,jWRKzxzhyX,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20
QHcMnYqF3h,0,WGJnvetv2a,DW5C3As8ij,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20
p5v9KCdjS6,1,FiSRHSfVaf,qR4Xa60DLl,KBowLApKOt,TG14pLUXCY,PCCn9Q1m20
aAEDD9AeIv,0,UASfSkWw7S,2T5sOm2MoW,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20

In [3]:
tmp = train.head(3)
tmp

,click,adset_id,campaign_id,device_model,device_os,device_country
1b1Yz4S9wG,0,GdBSlETcLy,taRA9jVfVL,AsY5LC0NLu,TG14pLUXCY,PCCn9Q1m20
eCYeFjnExb,0,GlheP2trvZ,jWRKzxzhyX,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20
QHcMnYqF3h,0,WGJnvetv2a,DW5C3As8ij,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20

> 편의상 head(3)을 이용해서 앞의 부분만 다루도록 한다.

In [8]:
tmp.agg(['count', 'nunique'])

         click  adset_id  campaign_id  device_model  device_os  device_country
count        3         3            3             3          3               3
nunique      1         3            3             2          1               1

> 범주형 데이터가 어떻게 구성되어 있는지 한 눈에 확인할 수 있다.

### 한 개만 OneHotEncoder 이용하기

> device_model를 선택

In [4]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
ohe = enc.fit_transform(tmp.device_model.values.reshape(-1,1)).toarray()
ohe

array([[1., 0.],
       [0., 1.],
       [0., 1.]])

> 한 가지 짚고넘어가야할 부분은 reshape. 뒤에서 확인할 것.

In [9]:
enc.fit_transform(tmp.device_model.values.reshape(-1,1))
dfOneHot = pd.DataFrame(ohe, columns = ["Device_model_"+str(enc.categories_[0][i]) for i in range(len(enc.categories_[0])) ],
                        index = tmp.index.tolist())

dfOneHot

            Device_model_AsY5LC0NLu  Device_model_nz5kFLSj4p
1b1Yz4S9wG                      1.0                      0.0
eCYeFjnExb                      0.0                      1.0
QHcMnYqF3h                      0.0                      1.0

In [10]:
dfh = pd.concat([tmp, dfOneHot], axis=1)

dfh

,click,adset_id,campaign_id,device_model,device_os,device_country,Device_model_AsY5LC0NLu,Device_model_nz5kFLSj4p
1b1Yz4S9wG,0,GdBSlETcLy,taRA9jVfVL,AsY5LC0NLu,TG14pLUXCY,PCCn9Q1m20,1.0,0.0
eCYeFjnExb,0,GlheP2trvZ,jWRKzxzhyX,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20,0.0,1.0
QHcMnYqF3h,0,WGJnvetv2a,DW5C3As8ij,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20,0.0,1.0

### 전부 OneHotEncoder 이용하기

In [11]:
tmp

,click,adset_id,campaign_id,device_model,device_os,device_country
1b1Yz4S9wG,0,GdBSlETcLy,taRA9jVfVL,AsY5LC0NLu,TG14pLUXCY,PCCn9Q1m20
eCYeFjnExb,0,GlheP2trvZ,jWRKzxzhyX,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20
QHcMnYqF3h,0,WGJnvetv2a,DW5C3As8ij,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20

> 마찬가지로 같은 데이터를 사용

In [12]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()

In [13]:
for i in tmp.columns[1:]:
    ohe = enc.fit_transform(tmp[i].values.reshape(-1,1)).toarray()
    dfOneHot = pd.DataFrame(ohe, columns = [i+"_"+str(enc.categories_[0][j]) for j in range(len(enc.categories_[0])) ],
                        index = tmp.index.tolist())
    tmp = pd.concat([tmp, dfOneHot], axis=1)

In [14]:
tmp

,click,adset_id,campaign_id,device_model,device_os,device_country,adset_id_GdBSlETcLy,adset_id_GlheP2trvZ,adset_id_WGJnvetv2a,campaign_id_DW5C3As8ij,campaign_id_jWRKzxzhyX,campaign_id_taRA9jVfVL,device_model_AsY5LC0NLu,device_model_nz5kFLSj4p,device_os_TG14pLUXCY,device_country_PCCn9Q1m20
1b1Yz4S9wG,0,GdBSlETcLy,taRA9jVfVL,AsY5LC0NLu,TG14pLUXCY,PCCn9Q1m20,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
eCYeFjnExb,0,GlheP2trvZ,jWRKzxzhyX,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
QHcMnYqF3h,0,WGJnvetv2a,DW5C3As8ij,nz5kFLSj4p,TG14pLUXCY,PCCn9Q1m20,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0

<hr>

In [5]:
TMP = tmp.device_model.values
TMP

array(['AsY5LC0NLu', 'nz5kFLSj4p', 'nz5kFLSj4p'], dtype=object)

In [6]:
TMP.reshape(-1,1)

array([['AsY5LC0NLu'],
       ['nz5kFLSj4p'],
       ['nz5kFLSj4p']], dtype=object)

In [7]:
TMP.reshape(-1,3)

array([['AsY5LC0NLu', 'nz5kFLSj4p', 'nz5kFLSj4p']], dtype=object)